<!--==========================alerts=============================-->

<p-toast  position="top-center"></p-toast>
<app-navbar></app-navbar>



<p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}"  [style]="{width: '20vw'}">
  <ng-template pTemplate="header">

  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex" position="center" >
      <button type="button" pButton class="co" id="co"  icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      
      
      <button type="button" pButton  class="co" id="co"  icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </div>
    </ng-template>
</p-confirmDialog>

<h1 class = " font-extralight ">  Job tracker</h1>


<!-- a drag and drop  -->
<div class="flex w-full">
  <div class="grid h-20 w-1/4  flex-grow card bg-base-200 square-box place-items-center mb-2 don">
    
    <div class="example-container">
      <h2>To do</h2>

  

      
        <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{ item.task_name }}
        </div>
      
      
      </div>
      
      </div>
    
    </div>
 
    <div class="divider divider-horizontal divide"></div>
 

  <div class="grid h-20 flex-grow card bg-base-300 square-box place-items-center mb-2  don ">
    <div class="example-container dragd w-full ">
      <h2>Done</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{ item.task_name }}
        </div>
      </div>
    </div>
  </div>
</div>



<!-- submit task  modal -->




    











        