.heading{

    width:12px;
    height: 8px;
}

.navbar {
    // margin-bottom: 5%;
    // margin-top: 5%;
}

.container-fluid {
    position: fixed;
    overflow: hidden;
    top: 0;
    float: left;
    z-index: 300;
    background-color: #f5f5f5ed;
}

a {
    padding-bottom: 3%;
}


.nav{

text-decoration: none; 
}
.nav:hover {
     color:#EFAC48
    
    } 

.column{
    justify-content: space-between;
}

.nav{
    text-decoration: none
}
.ss{
    background-color: #F5F5F5;
}

.la{
    background-color: #F5F5F5;
}

