
<div class="flex justify-center flex-row flex-wrap ">
    <div
      class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <div class="">
        <h1>Nyimwelo</h1>
        <img class="card-img" src="../../../assets/2.png" alt="" />
        <div class="flex flex-col justify-between p-4 leading-normal">
          Minor pipe installations <br />
          Cleaning Sewer Lines. <br />
          <br />
          call out fee : R500.00
          <div class="row">
            <button class="col bt-orange">contact details</button>
            <button class="col bt-orange">Request Quote</button>
          </div>
          <div class="row">
            <button class="col bt-orange">contact details</button>
            <button class="col bt-orange">Request Quote</button>
          </div>
        </div>
      </div>
    </div>
  
  
    <div
    class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <div class="">
      <h1>Nyimwelo</h1>
      <img class="card-img" src="../../../assets/2.png" alt="" />
      <div class="flex flex-col justify-between p-4 leading-normal">
        Minor pipe installations <br />
        Cleaning Sewer Lines. <br />
        <br />
        call out fee : R500.00
        <div class="row">
          <button class="col bt-orange">contact details</button>
          <button class="col bt-orange">Request Quote</button>
        </div>
        <div class="row">
          <button class="col bt-orange">contact details</button>
          <button class="col bt-orange">Request Quote</button>
        </div>
      </div>
    </div>
  </div>
  
  <div
  class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
  <div class="">
    <h1>Nyimwelo</h1>
    <img class="card-img" src="../../../assets/2.png" alt="" />
    <div class="flex flex-col justify-between p-4 leading-normal">
      Minor pipe installations <br />
      Cleaning Sewer Lines. <br />
      <br />
      call out fee : R500.00
      <div class="row">
        <button class="col bt-orange ">  contact details </button>
        <button class="col bt-orange">Request Quote</button>
      </div>
      <div class="row">
        <button class="col bt-orange">contact details</button>
        <button class="col bt-orange">Request Quote</button>
      </div>
    </div>
  </div>
  </div>
  <div
  class="flex flex-col bg-white rounded-lg border shadow-md background md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
  <div class="">
    <h1>Nyimwelo</h1>
    <img class="card-img" src="../../../assets/2.png" alt="" />
    <div class="flex flex-col justify-between p-4 leading-normal">
      Minor pipe installations <br />
      Cleaning Sewer Lines. <br />
      <br />
      call out fee : R500.00
      <div class="row">
        <button class="col bt-orange">contact details</button>
        <button class="col bt-orange">Request Quote</button>
      </div>
      <div class="row">
        <button class="col bt-orange">contact details</button>
        <button class="col bt-orange">Request Quote</button>
      </div>
    </div>
  </div>
  </div>
  
  </div>
  
  

  <div>

    <button 
    #gallery
    hidden
    data-modal-toggle="defaultModal1" 
  >
  view </button>
  
    <!-- Main modal -->
    <div
      id="defaultModal1"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center"
    >
      <div
        class="relative p-4 w-full max-w-2xl h-full md:h-auto"
      >
        <!-- Modal content -->
        <div
          class="relative bg-gray-50 rounded-lg dark:bg-gray-700"
        >
          <!-- Modal header -->
          <div
            class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600"
          >
            <h3
              class="text-xl font-semibold text-gray-900 dark:text-white"
            >
              Description
            </h3>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <div class="form-group w-full">
            
            </div> 
            <div>
            <button class="bt-orange" (click)="galleryModal()"> Gallery</button>
  
          </div>
          </div>
  
          <!-- Modal footer -->
          <div
            class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600"
          >
            <button
              data-modal-toggle="defaultModal1"
              type="button"
              class="bt-orange"
           
            >
              Accept
            </button>
            <button
              data-modal-toggle="defaultModal1"
              type="button"
              class="bt-orange"
              
            >
              Decline
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>