<p-toast  position="top-center"></p-toast>
<div class="la container-fluid">
<div
  class="container px-0 py-6 px-md-5 text-lg-start my-5 col-md-12 col-lg-12 col-sm-12 nn"
>
  <div class="row justify-content-center align-items-center jj">
    <div class=" col-md-12 col-xl-7 justify-items-center">
      <div
        class="card end bg-glass px-4 py-5 px-md-5 w-10xl background"
        style="border-radius: 15px; "
      >
        <form [formGroup]="form" >
          <h1>
            <span style="color: #0f5b87;">Kon</span
            ><span style="color: #efac48;">trak</span>
          </h1>
          <h3 class="cen">Login</h3>
          <br />

            <div class="input-group mb-3 zero-radius">
              <span class="input-group-text vb zero-radius" id="basic-addon1">
                <i class="fa fa-envelope i2" aria-hidden="true"></i></span>

              <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" type="text" class="form-control bv"
                placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" formControlName="email" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>

            <div class="input-group zero-radius">
              <span class="input-group-text vb zero-radius" id="basic-addon1">
                <i class="fa fa-lock i1" aria-hidden="true"></i></span>

              <input [ngClass]="{ 'is-invalid':submitted && f['password'].errors }" type="password"
                class="form-control bv" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"
                formControlName="password" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">
                  Password is required
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                  Password must be at least 6 character
                </div>
                <div *ngIf="f['password'].errors['maxlength']">
                  Password must not exceed 40 character
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col"></div>
            </div>
            <div class="form-group mt-3" style="text-align: center;">
              <button type="submit" (click)="onSubmit()" name="bt1" class="submit btn-block  bt-orange">
                Login
              </button>
            </div>
          </form>

          <div class="form-group">
            <p class="pt-3">
              Not a member?
              <a class="orange" name='registerRoute' routerLink="/register">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

